@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}
@keyframes slider {
    0%{
        transform: translateX(0);
    }
    20%{
        transform:translateX(0);
    }
    21%{
        transform: translateX(-33.3%);
    }
    40%{
        transform: translateX(-33.3%);
    }
    41%{
        transform: translateX(-66.6%);
    }
    66% {
        transform: translateX(-66.6%);
    }
    99%{
        transform: translateX(0);
    }
}