/*EXTERNALS*/
@import url('fonts/fontFamily.css');
/*MISCELANEOUS*/
@import url('variable/variabler.css');
@import url('normalize/normailize.css');
@import url('animation/animation.css');
/*partials*/
@import url('partials/main.css');
/*COMPONENTS*/
@import url('component/banner.css');
@import url('component/header.css');
@import url('component/logo.css');
@import url('component/navbar.css');
@import url('component/hero.css');
@import url('component/card.css');
@import url('component/carrousel.css');
@import url('component/footer.css');
@import url('component/login.css');
@import url('component/menuSearch.css');
@import url('component/cart.css');
@import url('component/product.css');
@import url('component/about.css');