:root {
    /*colors*/
    --black : black;
    /*Background de temporada*/
    --bg-light: #fafaff;
    --bg-solid: #751515;
    --bg-opacity: #75151575;
    /*Tipografia*/
    --base-font: 'bebas', serif;
    /*font sizes*/
    --font-display: 4.6rem;
    --font-jumbo: 3.8rem;
    --font-xlarge: 3rem;
    --font-large: 2.4rem;
    --font-medium-20: 2rem;
    --font-medium: 1.8rem;
    --font-small: 1.6rem;
    --font-xsmall: 1.4rem;
    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-100: 10rem;
    --spacing-68: 6.8rem;
    --spacing-48: 4.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
    /*font color*/
    --color-font: white;
    /**/
    /**/
}