
.marquee{
    width: 100%;
    max-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0%;
    padding: 0px 5px 0px 5px;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 20s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-name: marquee;
    animation-play-state: running;
    animation-timing-function: linear;
}
.marquee p {
    width: max-content;
    display: block;
    padding: 7px 0px 0px 8px;
    font-family: var(--base-font);
    font-size: var(--font-xxsmall);
   
}


@media (max-width : 768px) {
    .marquee {
        max-width: 100%;
        max-height: 30px;
        padding: 7px 7px 0px 8px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;    
    }
    .marquee p {
        display: inline-block;
        width: max-content;
        padding: 0px 7px 0px 8px;
        font-family: var(--base-font);
    }
}
@media (min-width : 770px) and (max-width :955px) {
    .marquee {
        width: max-content;
    }
    .marquee p {
        padding: 7px 7px 0px 8px;;
        font-family: var(--base-font);
    }
}
