@media screen and (max-width : 1000px) {

    .card-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }

    .card {
        display: flex;
        align-self: center;
        justify-self: center;
        width: 98%;
        height: fit-content;
        flex-direction: column;
        padding: 0 1px 0 1px;
    }


    .card-body {
        width: 100%;
    }

    .card-image img {
        width: 98%;
        align-self: center;
        justify-self: center;
        display: flex;
        align-items: center;
    }

    .indicator-container {
        display: none;
    }

    .image-indicator {
        width: 2em;
        height: .5em;
        opacity: 0.4;
    }

    .image-indicator--A {
        rotate: 90deg;
    }

    .image-indicator--B {
        rotate: -90deg;
    }

    .card-footer {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1em;
    }

    .card-footer-option {
        display: flex;
        justify-content: space-between;
    }

    .btn-option {
        border: 1px solid transparent;
        background-color: transparent;
        cursor: pointer;
        
    }

    .colors {
        display: flex;
        flex-direction: row;
    }

    .color-example {

        margin: 0 2px;
    }

    .more-card {
        text-decoration: underline;
        font-weight: none;
        text-align: center;
        margin-top: 5%;
        font-size: 0.8rem;
        letter-spacing: 0.5rem;
        cursor: pointer;
    }
}

@media (min-width : 1001px) {
    .card {
        height: auto;
        width: 100%;
        border: 1px solid gray;
        display: flex;
        height: fit-content;
        flex-direction: column;
        cursor: pointer;
        justify-self: stretch;
        align-self: stretch;

    }


    .card-body {
        width: 100%;
    }

    .card-image img {
        width: 100%;
        display: flex;
        align-items: center;

    }

    .indicator-container {
        width: 100%;
        position: relative;
        bottom: 8rem;
        justify-self: center;
        display: flex;
        justify-content: space-between;
    }

    .image-indicator {
        position: relative;
        opacity: 0.5;
    }

    .image-indicator--A {
        rotate: 90deg;

    }

    .image-indicator--B {
        rotate: -90deg;
    }

    .card-footer {
        padding: 0.8rem;
        max-width: 100%;
        display: flex;
        position: relative;

    }

    .card-footer--detail {
        display: flex;
        flex-direction: column;
        padding: 0 0.5rem;
    }


    .colors {
        display: flex;
        flex-direction: row;
    }

    .color-example {
        margin: 0 2px;
    }

    .size-container {
        width: 100%;
        display: none;
    }

    .size-container ul {
        animation: fade .7s;
    }

    .size-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.5rem;
        padding: 1rem 0;
    }

    .card-footer:hover .size-container {
        display: flex;
    }

    .card-footer:hover .card-footer--detail {
        display: none;
    }

    .size-item--disable {
        color: gray;
    }
}

@media (min-width :1000px) and (max-width : 1245px) {
    .card-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5em;
        align-items: center;
    }
}

@media (min-width : 1246px) {

    .card-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: .5em;
        align-items: center;
    }
}

.card-footer--detail {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
}

.colors {
    display: flex;
    flex-direction: row;
}

.color-example {
    margin: 0 2px;
}

.size-container {
    width: 100vw;
    height: 15vh;
    display: none;
    position: fixed;
    bottom: 0px;
    right:  0px;
    background-color: white;
    z-index: 1;

}

.size-container ul {
    animation: fade .7s;
}

.size-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
    padding: 1rem 0;
}
.size-container.active {
    display: flex;
}




.size-item--disable {
    color: gray;
}