.carrousel-title {
    font-family: var(--robot-font);
    font-weight:var(--font-weight-bold);
    font-size: var(--font-small);
}
@media screen and (max-with : 1000px) {

}
.carrousel-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carrousel {
    width: 300%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    animation: slider 40s infinite linear;
}

.carrousel .list {
    width: 100%;
}

.carrousel-images {
    width: 100%;
}

.carrousel .maps {
    width: 75%;
    height: 100%;
}

.local {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

.adress {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
@media screen and (min-width : 1001px) {
    
    .carrousel-container {
        padding: 1px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-top: 1.5em;
    }
    .carrousel {
        width: 300%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        animation: slider 40s infinite linear;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        gap: 0 15px;
    }
    .carrousel .list {    
        width: 100%;
        position: relative;
    }
    .carrousel-images {
        width: 100%;
    }
    .local {
        height: 150px;
        width: 400px;
        padding: 2em;
        position: absolute;
        bottom: 15%;
        left: 5%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:start;
    }
    .adress {
        display: none;
    }
}