
.cart-option {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    padding: 15px;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-end;
    background-color: var(--bg-light);
    z-index: 1;
}
.search-icons{
    width: 20px;
    height: 20px;
}
.cart {
    z-index: 1;
    
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: end;
    background-color: var(--bg-light);
}