@media screen and (max-width : 1000px) {



    .btn-shop {
        width: max-content;
        height: max-content;
        border-radius: 25px;
        text-align: center;
        text-justify: center;
        border: 2px white solid;
        color: white;
        padding: 10px;
        background-color: transparent;
    }

    .promo-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px 2px;
        justify-items: center;
        align-items: center;
        justify-content: start;
        align-content: center;
        grid-auto-columns: auto;
        grid-auto-rows: auto;
        grid-auto-flow: row;
    }

    .shop-promo-a {
        width: 100%;
        height: 100%;
        grid-column: 0/0;
        grid-row: 0/0;
        align-self: center;
        justify-self: center;

    }

    .shop-promo-b {
        width: 100%;
        height: fit-content;
        grid-column: 0/0;
        grid-row: 0/0;
        align-self: center;
        justify-self: center;

    }


    .promo-image {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        justify-self: center;
    }

    .big-promo-image-container {
        width: 98%;
        height: fit-content;
        display: flex;
        justify-content: stretch;
        align-items: stretch;

    }

    .promo-links-container {
        width: 50%;
        position: relative;
        bottom: 8em;
        justify-self: start;
        padding-left: 25px;
        padding-bottom: 8px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-bottom: -8em;
    }

    .promo-links-title {
        font-size: 4rem;
    }

    .big-promo {
        
        width: 100%;
        height: 100%;
        grid-column: 1/4;
        grid-row: 0/0;
        justify-self: center;
        align-self: stretch;

    }
    .big-promo-image-container {
        width: 100%;
        height: 98%;
        align-self: center;
    }

    .promo-links {
        position: relative;
    }

}

@media (min-width: 1001px) and (max-width :1445px) {


    .hero-container {
        width: 100%;
        height: 100%;
        display: flex;
    }


    .w-logo {
        z-index: 1;
        width: 60px;
        border-radius: 50%;
        position: fixed;
        background-color: white;
        bottom: 8%;
        right: 8%;
    }


    .more-card {
        text-decoration: underline;
        font-weight: none;
        text-align: center;
        margin-top: 5%;
        font-size: 0.8rem;
        letter-spacing: 0.5em;
        cursor: pointer;
    }

    .promo-container {
        display: none;
    }
}

.video-container {
    width: 100%;
}

.video {
    width: 100%;
}

.hero-container {
    width: max-content;
    height: 100%;
    display: flex;
}

.arrivals-container {
    width: 100%;
}



.more-card {
    text-decoration: underline;
    font-weight: none;
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 0.5rem;
    cursor: pointer;
}

.w-logo {
    z-index: 1;
    width: 60px;
    border-radius: 50%;
    position: fixed;
    background-color: white;
    bottom: 8%;
    right: 8%;
}