.hero-container iframe {
    width: 100%;
    height: 100vh;
    display: flex;
}

.logo-container {
    width: auto;
    border: none;
    border-radius: 50%;
}

.w-logo {
    position: fixed;
    background-color: white;
    border-radius: 50%;
    width: 60px;
    bottom: 25px;
    right: 40px;
    z-index: 1;
}

.more-card {
    text-decoration: underline;
    font-weight: none;
    text-align: center;
    margin-top: 5%;
    font-size: 0.8rem;
    letter-spacing: 0.5rem;
    cursor: pointer;
}
.logo-container {
    width: 100%;
    bottom: 0px;
    right:  0px;
    border: none;
    border-radius: 50%;
    position: fixed;
    z-index: 1;
}
.w-logo {
    width: 60px;
    position: fixed;
    bottom: 8%;
    right: 8%;
}

@media screen and (max-width : 1000px) {



    .btn-shop {
        width: max-content;
        height: max-content;
        border-radius: 25px;
        text-align: center;
        text-justify: center;
        border: 2px white solid;
        color: white;
        padding: 10px;
        background-color: transparent;
    }

    .promo-container {
        width: 98%;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 5px 5px;
        justify-items: center;
        align-items: center;
        justify-content: start;
        align-content: center;
        grid-auto-columns: auto;
        grid-auto-rows: auto;
        grid-auto-flow: row;
    }

    .shop-promo-a {
        width: 98%;
        height: fit-content;
        grid-column: 0/0;
        grid-row: 0/0;
        align-self: center;
        justify-self: center;
        margin-top: 1.5rem;
    }

    .shop-promo-b {
        width: 98%;
        height: fit-content;
        grid-column: 0/0;
        grid-row: 0/0;
        align-self: center;
        justify-self: center;
        margin-top: 1.5rem;
    }


    .promo-image-container img {
        width: 98%;
        height: fit-content;
        display: flex;
        align-items: center;
        align-self: center;
        justify-self: center;
    }

    .big-promo-image-container {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: stretch;
        align-items: stretch;

    }

    .promo-links-container {
        width: 98%;
        position: relative;
        bottom: 8em;
        justify-self: start;
        padding-left: 25px;
        padding-bottom: 8px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-bottom: -8em;
    }

    .promo-links-title {
        font-size: 4rem;
    }

    .big-promo {
        margin-top: 1em;
        width: 98%;
        height: auto;
        grid-column: 1/4;
        grid-row: 0/0;
        justify-self: center;
        align-self: stretch;

    }

    
.w-logo {
    width: 60px;
    position: fixed;
    bottom: 8%;
    right: 8%;
}
  

    .promo-links {
        position: relative;
    }

}


@media (min-width: 1001px) and (max-width :1445px) {


    .hero-container iframe {
        width: 100%;
        height: 100vh;
        display: flex;
    }


    .w-logo {
        z-index: 1;
        background-color: white;
        border-radius: 50%;
        width: 60px;
    }


    .more-card {
        text-decoration: underline;
        font-weight: none;
        text-align: center;
        margin-top: 5%;
        font-size: 0.8rem;
        letter-spacing: 0.5em;
        cursor: pointer;
    }

    .promo-container {
        display: none;
    }
}