.login-on {
    width: 100%;
    height: 80vh;
    display: flex;
    background-color: var(--bg-light);
}
.login-off{
    display: none;
}

.login-group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: none;
}
.email {
    width: 100%;
    margin: 10px;
    height: 1.5rem;
}

.login-pass{
    width: 100%;
    height: 1.7rem;
    display: flex;
    padding: 2px;
    margin: 10px;
    
    justify-content: space-between;
}
.password, .reset {
    border: none;
    background-color: var(--bg-light);
}
.password{
    width: 50%;
}
.reset {
    width: 50%;
}   
.btn-session{
    background-color: black;
    color: white;
    width: 100%;
    padding: 2px;
}