.logo {
    width: 20px;
    height: 20px;
}

.logo-md {
    width: 45px;
    height: 45px;
}

.text-logo {
    width: fit-content;
    height: 45px;
}
@media (max-width :768px) {

    .logo {
        width: 20px;
        height: 20px;
    }
    
    .logo-md {
        width: 25px;
        height: 25px;
    }
    
    .text-logo {
        width: fit-content;
        height: 45px;
    }

}