
.search {
    gap: 0 15px;
    padding: 5px;
    display: grid;
    align-items: stretch;    
    justify-items: stretch;
    justify-content: start;
    grid-template-rows: 1fr;
    grid-template-columns: 30px 1fr 30px;
}
.search-item {
    width: 100%;
    align-self: center;
    justify-self: start;
}

.search-icon{
    width: 20px;
    align-self: center;
    justify-self: center;
}
.search-input {
    width: 100%;
    border: none;
}