/* NAVBAR GENERAL */
/*FILA DE MENU WEB*/
.navbar {
    width: 100%;
    border-bottom: 1px black solid;
    padding: 15px 0px;
    font-size: var(--font-xxsmall);
    font-family: var(--roboto-font);
    background-color: var(--bg-light);
    z-index: -1;

}

.sub-navbar {
    display: none;
    background-color: var(--bg-light);
}

.menu-mobile {
    display: none;
}

.btn-menu {
    display: none;
}

.menu-web {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 120px 1fr;
}

/*MENU DE PRODUCTOS*/
.menu-product {
    display: flex;
    max-width: 650px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    margin-left: 1em;
}

.navbar-links {
    cursor: pointer;
    margin: 0 5px 0 5px;
}

/*LOGOS*/
.logo-group {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-size {
    width: 25px;
    height: 15px;
}

/*TAMAÑO DE LOGOS*/


.logo-size-text {
    height: 25px;
    width: fit-content;
}

/*MENU DE CUENTAS Y CONFIGURACIÖN*/
.menu-account {
    margin-right: 2rem;
}
.menu-account-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}





/*IDIOMAS*/

select {
    border: none;
    cursor: pointer;
}

.logo-search {
    width: 15px;
}

.list-item--conter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.count {
    padding-left: 0.4rem;
    padding-top: 0.2rem;
    margin: 0.2rem;
    width: 20px;
    height: 20px;
    color: var(--color-font);
    background-color: var(--black);
    border-radius: 50%;
}

.ocultar {
    position: relative;
    height: max-content;
    display: none;

}


.shop-submenu {
    top: 94px;
    z-index: 1;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 2em 0;
    position: absolute;
    background-color: var(--bg-light);
    border-bottom: 1px solid black;
}

.shop-undermenu {
    width: 60%;
    display: flex;
    padding-top: 1em;
    align-items: start;
    justify-content: space-around;
}
.shop-undermenu-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5px;
}
.shop-undermenu-item {
    font-family: var(--roboto-font);
    font-weight: var(--font-weight-bold);
}

.title-undermenu {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-around;
    font-family: var(--roboto-font);
    font-weight: var(--font-weight-bold);
}
.shop-undermenu-options {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5px;
}
.shop-undermenu-option {
    font-family: var(--roboto-font);
}
.collection-undermenu {
    width: 100%;
}
.collections-items {
    overflow: hidden;
    gap: 1em;
    top: 94px;
    z-index: 1;
    width: 200%;
    display: grid;
    padding: 2em 0.5em;
    position: absolute;
    height: max-content;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr;
    border-bottom: 1px solid black;
    background-color: var(--bg-light);
    grid-template-columns:repeat(12, 1fr);
}
.collection-item {
    transition:transform 0.5s ease-in-out;
}
.collection-image img {
    gap: 5px;
    width: 100%;
    height: 200px;
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(148, 143, 143, 1);
}
.collection-image img:hover {
    background-color:rgba(148, 143, 143, 0.5);
}
.collection-title {
    text-align: center;
}
.indicators-containers {
    z-index: 2;
    top: 160px;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.idicator-container {
    width: 50px;
    height: 50px;
    background-color: white; 
    border-radius: 50%;
}
.indicator {
    background-color: white;
    padding: 10px 5px;
    border-radius: 50%;
    
}
.indicator-A {
    rotate: 90deg;
}
.indicator-B {
    rotate: -90deg;
}
#bt-back, #bt-forward {
    cursor: pointer;
}
.btn {
    border: none;
    background-color: transparent;
}

.btn:hover {
    text-shadow: 0 0 .1px #333, 0 0 1px #333;
    transition: text-shadow .2s;
    color: var(--black);
    cursor: pointer;
}

.ocultar.active {
    display: flex;
}

@media (max-width :1000px) {

    /*Continuar desde aca con la navbar en responsive*/
    .navbar {
        font-family: var(--base-font);
        background-color: var(--bg-light);
        display: flex;
        z-index: 0;
    }

    .menu-web {
        display: none;
    }

    .menu-mobile {
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 0 1px;
        justify-items: stretch;
        align-items: stretch;
        justify-content: center;
        align-content: stretch;
    }

    .menu {
        width: 75%;
        display: none;
        height: 100vh;
        background-color: var(--bg-light);
        border: 1px solid black;
        position: absolute;
        top: 0;
        left: 0;
        padding: 4em 1em;
    }


    .menu-mobile-list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
    }

    .list-mobile {
        width: 100%;
        height: 100%;
        align-self: center;
    }

    .list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
        gap: 10px;
        margin-top: 25px;
    }

    .list-items:hover {
        text-shadow: 0 0 .1px #333, 0 0 1px #333;
        transition: text-shadow .2s;
        color: var(--black);
        cursor: pointer;
    }

    .list-lang {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .idioma-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: start;
        gap: 15px;
    }

    .idioma {
        align-self: center;
        width: 100%;
    }

    .btn-close {
        z-index: 1;
        width: 25px;
        height: 25px;
        cursor: pointer;
        justify-self: center;
        align-self: center;
        border: none;
    }

    .btn-close--image {
        align-self: center;
        justify-self: center;
    }


    .menu.active {
        display: flex;
        width: 75%;
    }



    .btn-menu {
        width: 35px;
        height: 35px;
        justify-self: center;
        align-self: stretch;
        display: flex;
        background-color: transparent;
        cursor: pointer;
    }

    .buttom-menu {
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .btn-menu:first-child {
        margin-left: 2rem;
        align-items: center;
        justify-self: start;
    }



    /*LOGOS*/
    .logo-group {
        justify-self: stretch;
        align-self: stretch;
    }

    /*TAMAÑO DE LOGOS*/
    .logo-size-text {
        width: fit-content;
        height: 20px;
        display: flex;
        justify-content: flex-end;
    }

    .container-account {
        width: 100%;
        align-self: stretch;
        justify-self: stretch;
    }

    .menu-account-mobile {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 0 2px;
        justify-items: stretch;
        align-items: center;
        justify-content: start;
        align-content: center;
    }

    .image-mobile-menu {
        justify-self: center;
        align-self: center;
    }

    .image-mobile-menu--acount {
        justify-self: start;
        align-self: center;
    }

    .image-mobile {
        width: 20px;
        height: 20px;
    }

    .span {
        height: 100%;
        border: 1px solid black;
        display: inline-block;
        align-items: center;
        justify-self: center;
    }


    .sub-navbar {
        font-family: var(--base-font);
        background-color: var(--bg-light);
        display: flex;
        justify-content: space-between;
        padding: 6px;
        border-bottom: 1px solid black;
        z-index: 0;
    }
}